* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.h1 {
    display: flex;
    justify-content: center;
}

.firstSection, .secondSection, .thirdSection, .fourthSection, .nav-bar {
    border: 2px solid black;
}

.firstSection, .secondSection, .thirdSection, .fourthSection, .nav-bar {
    float: left;
    height: 600px;
    padding: 10px;
}

.firstSection, .thirdSection, .fourthSection {
    width: 20%;
}

.firstSection, .fourthSection {
    margin-left: 80px;
}

.secondSection {
    width: 50%;
}

.nav-bar {
    width: 70%;
}




