* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.h1 {
    display: flex;
    justify-content: center;
}

.firstSection, .secondSection, .thirdSection, .fourthSection, .nav-bar {
    border: 2px solid black;
}

.firstSection, .secondSection, .thirdSection, .fourthSection, .nav-bar {
    float: left;
    height: 600px;
}

.firstSection, .thirdSection, .fourthSection {
    width: 25%;
}

.secondSection {
    width: 50%;
}

.nav-bar {
    width: 75%;
}




